{% extends 'inheritance/base.html' %}

{% block content %}
  <div class="indigo darken-3" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Adoption Web Application</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Web service for the adoption of pets</h5>
      </div>
      <div class="row center">
        <a href="#!" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
{% endblock %}